@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

a {
    font-size: larger;
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    color: white;
}

tr {
    color: white;
    background-color: midnightblue;
}

table {
    background-color: black;
}

div {
    color: white;
}

nav {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

header {
    background-color: black;
}

body {
    background-color: black;
}

p {
    color: white;
    font-size: 1rem;
}

.content {
    padding: auto;
    width: auto;
    height: auto;
    overflow: scroll;
}

ul li a {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flexbox;
}

.padre {
    font-size: medium;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10px;
}

#grilla {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1, 1fr);
    grid-gap: 10px;
}

.one {
    grid-column: 1 / 4;
    grid-row: 1;
}

.two {
    grid-column: 4 / 13;
    grid-row: 1;
    align-self: center;
}

.three {
    grid-column: 1 / 13;
    grid-row: 2;
}

.four {
    grid-column: 1 / 13;
    grid-row: 3;
}

.five {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    align-self: center;
}

.six {
    grid-column: 7 / 13;
    grid-row: 4 / 5;
}

.sev {
    grid-column: 1 / 13;
    grid-row: 5;
}

.eight {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.nine {
    grid-column: 9 / 13;
    grid-row: 6;
    align-self: flex-end;
}

.ten {
    grid-column: 10 / 12;
    grid-row: 7;
    align-self: flex-end;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.logotipog {
    grid-column: 1 / 4;
    grid-row: 1;
}

.menug {
    grid-column: 4 / 13;
    grid-row: 1;
    align-self: center;
}

.banerserviciosg {
    grid-column: 1 / 13;
    grid-row: 2;
}

.texto1 {
    grid-column: 2 / 12;
    grid-row: 3;
}

.imagen1 {
    grid-column: 2 / 12;
    grid-row: 4;
}

.texto2 {
    grid-column: 2 / 12;
    grid-row: 5;
}

.imagen2 {
    grid-column: 2 / 12;
    grid-row: 6;
}

.texto3 {
    grid-column: 2 / 12;
    grid-row: 7;
}

.imagen3 {
    grid-column: 2 / 12;
    grid-row: 8;
}

.piegaleria {
    grid-column: 3 / 11;
    grid-row: 9;
}

.imagen1,
.imagen2,
.imagen3 {
    background-color: midnightblue;
    padding: 1fr;
    margin: 1fr;
}

.texto1,
.texto2,
.texto3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#nosotros {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1, 1fr);
    grid-gap: 10px;
}

.logotipon {
    grid-column: 1 / 4;
    grid-row: 1;
}

.menun {
    grid-column: 4 / 13;
    grid-row: 1;
    align-self: center;
}

.banerserviciosn {
    grid-column: 1 / 13;
    grid-row: 2;
}

.nosotros {
    grid-column: 3 / 11;
    grid-row: 3;
    text-align: center;
}

.mision {
    grid-column: 2 / 6;
    grid-row: 5;
    text-align: center;
}

.vision {
    grid-column: 8 / 12;
    grid-row: 5;
    text-align: center;
}


#servicios {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1, 1fr);
    grid-gap: 10px;
}

.logotipo {
    grid-column: 1 / 4;
    grid-row: 1;
}

.menu {
    grid-column: 4 / 13;
    grid-row: 1;
    align-self: center;
}

.banerservicios {
    grid-column: 1 / 13;
    grid-row: 2;
}

.lista1 {
    grid-column: 3 / 11;
    grid-row: 3;
    text-align: center;
}

.t1 {
    grid-column: 1 / 5;
    grid-row: 4;
}

.t2 {
    grid-column: 5 / 9;
    grid-row: 4;
}

.t3 {
    grid-column: 9 / 13;
    grid-row: 4;
}

.ofertas {
    grid-column: 2 / 12;
    grid-row: 6;
    text-align: center;
}

.footers {
    grid-column: 2 / 12;
    grid-row: 7;
    text-align: center;
}

#contacto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1, 1fr);
    grid-gap: 10px;
}

.logotipoc {
    grid-column: 1 / 4;
    grid-row: 1;
}

.menuc {
    grid-column: 4 / 13;
    grid-row: 1;
    align-self: center;
}

.banerserviciosc {
    grid-column: 1 / 13;
    grid-row: 2;
}

.informacion {
    grid-column: 2 / 12;
    grid-row: 3;
    text-align: center;
}

.footerc {
    grid-column: 2 / 12;
    grid-row: 4;
    text-align: center;
}


/*MEDIA QUERIS*/

@media screen and (max-width: 768px) {

    #grilla,
    .padre {
        display: block;
        text-align: center;
        background-color: midnightblue;
    }
}

@media screen and (max-width: 768px) {

    #nosotros,
    .padre {
        display: block;
        text-align: center;
        background-color: midnightblue;
    }
}

@media screen and (max-width: 875px) {

    #galeria,
    .padre {
        grid-gap: 0px;
        display: block;
        background-color: midnightblue;
        padding: 0%;
    }
}