@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,400&display=swap');
* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}
a {
    font-size: larger;
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    color: white;
}
tr {
    color: white;
}
div {
    color: white;
}
nav {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
header {
    background-color: black;
}
body {
    background-color: black;
}
p {
    color: white;
    font-size: 1rem;
}
.content{
    padding: auto;
    width: auto;
    height: auto;
    overflow: scroll;
}
ul li a {
flex-direction:row;
align-items: center;
justify-content: space-between;
display: flexbox;
}

.padre {
    font-size:larger;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10px;
}

#grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(1, 1fr);
    grid-gap: 50px;
  }
  .one {
    grid-column: 1 ;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 5;
    grid-row: 1;
    align-self: center;
  }
  .three {
    grid-column: 1 / 5 ;
    grid-row: 2;
  }
  .four {
    grid-column: 1 / 5;
    grid-row: 3;
  }
  .five {
    grid-column: 1 / 3 ;
    grid-row: 4 / 5 ;
    align-self: center;
  }
  .six {
    grid-column: 3 / 5;
    grid-row: 4;
  }
  .sev {
    grid-column: 1 / 5;
    grid-row: 5;
  }
  .eight {
    grid-column: 1 / 2;
    grid-row: 6; 
  }
  .nine {
    grid-column: 3 / 4;
    grid-row: 6; 
    align-self: flex-end;
  }
  .ten {
    grid-column: 4 / 5;
    grid-row: 6; 
    align-self: flex-end;
  }

  #galeria {
      display: grid;
      grid-template-columns: repeat(3, 1fr) ;
      grid-template-rows:  1fr;
      grid-gap: 50px;
  }
  .texto1 {
    grid-column: 1 / 4 ;
    grid-row: 1 ;
 }
 .imagen1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3 ;
  }
.texto2 {
    grid-column: 1 / 4;
    grid-row: 4  ;
}
.imagen2 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}
.texto3 {
    grid-column: 1 / 4;
    grid-row: 7 ;
}
.imagen3 {
    grid-column: 1 / 4;
    grid-row: 8 / 9 ;
}
.piegaleria {
    grid-column: 1 / 4;
    grid-row: 10 ;
}

#nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  1fr;
    grid-gap: 10px;
}
.nosotros {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}
.mision {
    grid-column: 1 / 2;
    grid-row: 2;
    text-align: center;
}
.vision {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: center;
}

/*MEDIA QUERIS*/

@media screen and (max-width: 768px) {
    #grilla, .padre {
        display: block;
        text-align: center;
        background-color: midnightblue;
}
}

@media screen and (max-width: 768px) {
    #nosotros, .padre {
        display: block;
        text-align: center;
        background-color: midnightblue;
}
}

@media screen and (max-width: 768px) {
    #galeria, .padre {
        grid-gap: 0px;
        display: block;
        background-color: midnightblue;
}
}


